<section>
  <header class="mb-5 mt-5 text-center">
    <h1 class="display-4">Planoker</h1>
    <p class="lead">The planoker app is a simple poker planning application.</p>
  </header>
  <div class="card-deck mb-3 text-center">
    <section class="card mb-6 box-shadow">
      <header class="card-header">
        <h2>Create session</h2>
      </header>
      <div class="card-body">
        <app-create-session-form></app-create-session-form>
      </div>
    </section>
    <section class="card mb-6 box-shadow">
      <header class="card-header">
        <h2>Join existing session</h2>
      </header>
      <div class="card-body">
          <app-join-session-form></app-join-session-form>
      </div>
    </section>
  </div>
</section>
