.user-item {
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.user-item-title {
    margin: .5em 0;
}
.ready-state {
    border-radius: 50%;
    box-shadow: 0 0 8px 2px grey;
    display: inline-block;
    margin: 10px;
    height: 14px;
    width: 14px;

    &.on {
      background-color: greenyellow;
    }

    &.off {
      background-color: red;
    }

}
.ignored {
    opacity: 0.3;
}
app-poker-card {
    padding: 1rem 0;
}