<div>
  <section>
    <h1>Dashboard</h1>
    <div class="session-detail">
      <div *ngIf="joinUrl">
        <qr-code [value]="joinUrl" [size]="100"></qr-code>
      </div>
      <p class="ml-3">Session : {{session.sessionId}}</p>
    </div>
  </section>
  <section class="mt-5">
    <h2>User list</h2>
    <app-user-list [userlist]="userlist" [isRevealed]="session.isRevealed"></app-user-list>
    <div class="text-center" *ngIf="userlist && userlist.length">
      <button class="btn btn-primary" (click)="revealVotes($event)" [disabled]="!isReadyToReveal">
          <span *ngIf="!session.isRevealed">Reveal votes !</span>
          <span *ngIf="session.isRevealed">Back to voting session !</span>
      </button>
    </div>
  </section>
  <section class="stats" *ngIf="session.isRevealed">
    <h3>Stats</h3>
    <dl class="stats-list row">
      <dt class="col-6">Avg</dt>
      <dd class="col-6">{{stats.avg}}</dd>
      <dt class="col-6">Min</dt>
      <dd class="col-6">{{stats.min}}</dd>
      <dt class="col-6">Max</dt>
      <dd class="col-6">{{stats.max}}</dd>
      <dt class="col-6">Nb of Coffee</dt>
      <dd class="col-6">{{stats.nbOfCoffee}}</dd>
      <dt class="col-6">Nb of Question mark</dt>
      <dd class="col-6">{{stats.nbOfQuestionMark}}</dd>
    </dl>
  </section>
</div>
