$sm-height: 100px;
$sm-width: 75px;
$sm-border-radius: 5px;

$md-height: 180px;
$md-width: 120px;
$md-border-radius: 8px;

$lg-height: 300px;
$lg-width: 200px;
$lg-border-radius: 10px;

.poker-card {
  position: relative;
  height: $md-height;
  width: $md-width;
  margin: auto;
  z-index: 1;
  perspective: 1000; // entire container, keeps perspective

  &.sm {
    height: $sm-height;
    width: $sm-width;
  }

  &.lg {
    height: $lg-height;
    width: $lg-width;
  }

  // flip the pane when having .flipper class
  &.flipped .flipper {
    transform: rotateY(180deg);
  }
}

.flipper {
  //flip speed
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  .flip-div {
    backface-visibility: hidden;
    border: 1px solid black;
    border-radius: $md-border-radius;
    box-shadow: 0 0 10px 5px #acacac;
    box-sizing: border-box; // hide back of pane during swap
    height: $md-height;
    left: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;

    .sm & {
      height: $sm-height;
      border-radius: $sm-border-radius;
    }

    .lg & {
      height: $lg-height;
      border-radius: $lg-border-radius;
    }

  }
}



.recto {
    background-color: white;
    border: 2px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
    z-index: 2;
    h1 {
      font-size: 4rem;

      .sm & {
        font-size: 3rem
      }

      .lg & {
        font-size: 5rem;

      }
    }
} // back, initially hidden pane
.verso {
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: white;
    display: block;
    transform: rotateY(180deg);
    
    p {
        text-align: center;
    }
}
