<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Session id</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">If empty, a default id will be generated.</small>
  </div>
  <div class="form-group">
    <label for="playerNb">Number of player</label>
    <input type="number" class="form-control" id="playerNb">
  </div>
  <button type="submit" class="btn btn-primary">Create session</button>
</form>
