<form [formGroup]="createSessionForm" (ngSubmit)="onSubmit($event)">
  <div class="form-group">
    <button type="button" class="btn btn-link btn-sm pull-right" (click)="onClickGenerateId($event)">Generate</button>
    <label id="label-creation-form-session-id" for="creation-form-session-id">Session id</label>
    <input
      type="text"
      formControlName="sessionId"
      id="creation-form-session-id"
      class="form-control"
      aria-describedby="label-creation-form-session-id">
    <div *ngIf="createSessionForm.controls.sessionId.errors && createSessionForm.controls.sessionId.errors.required" class="invalid-feedback">
      The session id is required
    </div>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-link btn-sm pull-right" (click)="setRandomUsername($event)">Generate
      <i class="fa fa-refresh fa-spin" *ngIf="isGeneratingUsername"></i>
    </button>
    <label for="create-session-username" id="label-create-session-username">Your name</label>
    <input 
      type="text" 
      formControlName="username" 
      id="create-session-username" 
      class="form-control"
      placeholder="Enter your name"
      [maxlength]="formProp.username.maxLength"
      aria-describedby="label-create-session-username">
    <div *ngIf="createSessionForm.controls.username.errors" class="invalid-feedback">
      <p *ngIf="createSessionForm.controls.username.errors && createSessionForm.controls.username.errors.required">Username is required</p>
      <p *ngIf="createSessionForm.controls.username.errors && createSessionForm.controls.username.errors.maxlength">Username's length {{createSessionForm.controls.username.errors.maxlength.actualLength}} exceed the limit of {{createSessionForm.controls.username.errors.maxlength.requiredLength}}</p>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!createSessionForm.valid">Create session</button>
</form>
