<form [formGroup]="joinSessionForm">
  <div class="form-group">
    <label for="join-session-id">Session id</label>
    <input type="text" class="form-control" id="join-session-id" name="sessionId" aria-describedby="sessionid" placeholder="Enter session id">
    <div class="invalid-feedback">
        Please enter a session id
      </div>
  </div>
  <div class="form-group">
    <label for="join-session-name">Your name</label>
    <input type="text" class="form-control" id="join-session-name" name="username" aria-describedby="username" placeholder="Enter your name">
    <button (click)="setRandomUsername($event)"><i class="fa fa-sync"></i></button>
    <small id="emailHelp" class="form-text text-muted">If empty, a default id will be generated.</small>
  </div>
  <!--change to a button-->
  <button type="submit" class="btn btn-primary">Join session</button>
</form>
