
<div *ngIf="!session.isRevealed;else fenceMessage">
    <section class="user-place-page mt-5" *ngIf="!session.isLoading">
        <form *ngIf="!session.isRevealed">
            <div class="form-group">
                <select class="custom-select"
                    name="vote"
                    [(ngModel)]="selectedValue"
                    (change)="selectionChanged($event)"
                    [disabled]="currUser.isFrozen">
                    <option *ngFor="let item of selectableValues" [value]="item">{{item}}</option>
                </select>
            </div>
        </form>
        <p class="text-muted">Click the card to un-/validate your vote</p>
        <button (click)="onClickFreeze($event)" class="card-is-btn">
            <app-poker-card class="mb-3"
                [isFlipped]="currUser.isFrozen"
                [value]="selectedValue"
                size="large"
                versoText="Unvalidate your choice to change your vote"
            ></app-poker-card>
        </button>
    </section>
</div>
<ng-template #fenceMessage>
    <section class="fence" *ngIf="session && session.isRevealed">
        <h1>Votes are revealed !</h1>
        <p>Please wait until the planing master launch the vote session.</p>
    </section>
</ng-template>
