<section class="user-place-page mt-5" *ngIf="isPageReady">
  <form>
    <div class="form-group">
      <select class="custom-select"
        (change)="selectionChanged($event)"
        [disabled]="isFrozen">
        <option value="?" selected>❓</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="8">8</option>
        <option value="13">13</option>
        <option value="21">21</option>
        <option value="34">34</option>
        <option value="55">55</option>
        <option value="break">☕</option>
      </select>
    </div>
  </form>

  <app-poker-card class="mb-3" [ngClass]="{ 'not-confirmed': isFrozen }" [value]="selectedValue"></app-poker-card>
  <button (click)="onClickFreeze($event)" class="btn btn-primary mb-3">
    <span *ngIf="!isFrozen">Validate</span>
    <span *ngIf="isFrozen">Unvalidate</span>
  </button>
</section>
